.header {
  width: 100%;
}

.header ul {
  display: flex;
}

.header li {
  margin-top: 50px;
}

.header .logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -80px;
  width: 350px;
}

body{
  background: #043661;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

li {
  list-style-type: none;
}

footer {
  height: 100px;
  margin-top: 550px;
  text-align: center;
  width: 100%;
}


.wrapper-content {
  position: absolute;
  left: 50%;
  margin-top: 200px;
  transform: translate(-50%, -50%);
  min-height: 280px;
  width: 500px;
}

.wrapper-login {
  height: 250px;
  color: white;
  margin-top: 30px;
}

.wrapper-input {
  margin: 0 0 30px 75px;
  width: 370px;
}

.wrapper-input input {
  height: 40px;
  width: 330px;
  border-style: solid;
  border-color: #043661;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
}

.btn-login {
  width: 350px;
  margin: 0 0 30px 75px;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 19px;
  border-radius: 5px;
}

.forgot {
  position: relative;
  color: white;
  font-size: 18px;
  margin-left: 180px;
  text-decoration: none;
}

#footer-logo {
  position: absolute;
  width: 40px;
  margin-top: 40px;
  margin-left: -89px;
}


/* Landscape for iPhone5 */


/* Main Page */
nav {
  border: 1px solid white;
  height: 130px;
  width: 1472px;
}

.wiselogo {
  color: white;
  font-size: 40px;
  margin: 5px 0 50px 20px;
  position: absolute;
}

a {
  color: white;
  text-decoration: none;
}

.navbar li {
  display: inline-block;
}

.rightfloat{
  position: absolute;
  display: inline-block;
  font-size: 15px;
  left: 80%;
  margin-top: 20px;
}

.rightlink {
  margin-right: 50px;
}

.sidenav {
  border: 1px solid white;
  width: 230px;
  min-height: 550px;
}

.sidenav ul {
  margin-left: 10px;
}

.main-content {
  border: 1px solid white;
  position: absolute;
  margin-left: 230px;
  min-height: 550px;
  width: 1242px;
}